:root {
    --dark-bkg: rgb(34, 33, 36);
    --light-text: rgb(199, 201, 206);
    --card-color: rgb(48, 48, 167);
    --main-bkg: rgb(206, 206, 236);
}
body {
    background-color: var(--dark-bkg);
    /* color: antiquewhite; */
}

header h1{
    background-color: var(--card-color);
    color: var(--light-text);
    display: block;
    padding: 30px;
}
.function {
    display: flex;
    align-items: flex-start;
}
nav {
    background-color: var(--main-bkg);
    width: 30%;
    margin: 2%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav h2 {
    /* background-color: antiquewhite; */
    color: navy;
    margin: 2%;
}

#city-searcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid var(--dark-bkg);
    width: 100%;
    padding-bottom: 0%;
}

#city-entry {
    font-size: 15px;
    padding: 2%;
    width: 86%;
}

nav button {
    background-color: var(--card-color);
    color: var(--light-text);
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 90%;
    margin: 2%;
}


main {
    background-color: var(--main-bkg);
    width: 60%;
    margin: 2%;
}

main h3 {
    margin: 2%;
}

#place-date {
    display: flex;
    align-items: center;
}

main ol {
    list-style: none;
    margin-left: 2%;
    margin-bottom: 2%;
}

.five-day-forecast {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--dark-bkg);
}

.day-card {
    display: inline-block;
    width: 20%;
    background-color: var(--card-color);
    color: var(--light-text);
    padding: 20px;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}